body{
    margin: 0;
    padding: 0;
}
body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffa41b;
}
.form{
    width: 500px;
    height: 580px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    padding: 70px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% - 40px);
}
.form h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.form p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.form input
{
    width: 100%;
    margin-bottom: 20px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
::placeholder{
    color: #ccc;
}
.form input[type="submit"] {
    height: 50px;
    color: #fff;
    font-size: 15px;
    background: #2c003e;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;
}
.form a
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
